<div
  *ngIf="show"
  (click)="onShadowClick()"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center"
>
  <div class="bg-white p-8 rounded-lg" (click)="$event.stopPropagation()">
    <ng-content></ng-content>
    <div class="flex justify-end mt-4">
      <button
        (click)="onConfirm()"
        class="bg-blue-500 text-white px-4 py-2 rounded mr-2"
        *ngIf="confirm.observers.length > 0"
      >
        Confirm
      </button>
      <button
        (click)="onCancel()"
        class="bg-gray-300 text-gray-700 px-4 py-2 rounded"
        *ngIf="cancel.observers.length > 0"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
